@font-face {
  font-family: 'Amazon Ember';
  src: url('./assets/fonts/AmazonEmber_Rg.ttf'); 
}

@font-face {
  font-family: 'Amazon Ember Light';
  src: url("./assets/fonts/AmazonEmber_Lt.ttf"); 
}
