 <!-- TEST -->
 <div class="main-wrapper">
    <div class="main__filter">
      <div class="filter__controls">
        <div class="control__reset"></div>
        <div class="control__copy"></div>
      </div>
      <div class="filter filter__categry">
        <div class="filter__caption">Category</div>
        <ul class="filter__items">
          <li>
            <input type="checkbox" id="walking" name="walking">
            <label for="walking"><span>Walking</span><span>(0/0)</span></label>
          </li>
          <li>
            <input type="checkbox" id="running" name="running">
            <label for="running"><span>Running</span><span>(0/0)</span></label>
          </li>
          <li>
            <input type="checkbox" id="skateboarding" name="skateboarding">
            <label for="skateboarding"><span>Skateboarding</span><span>(0/0)</span></label>
          </li>     
        </ul>
      </div>
      <div class="filter filter__brand">
        <div class="filter__caption">Brand</div>
        <ul class="filter__items">
          <li>
            <input type="checkbox" id="newBalance" name="newBalance">
            <label for="newBalance"><span>New Balance</span><span>(0/0)</span></label>
          </li>
          <li>
            <input type="checkbox" id="skechers" name="skechers">
            <label for="skechers"><span>Skechers</span><span>(0/0)</span></label>
          </li>
          <li>
            <input type="checkbox" id="propet" name="propet">
            <label for="propet"><span>Propet</span><span>(0/0)</span></label>
          </li>     
          <li>
            <input type="checkbox" id="nike" name="nike">
            <label for="nike"><span>Nike</span><span>(0/0)</span></label>
          </li>  
          <li>
            <input type="checkbox" id="puma" name="puma">
            <label for="puma"><span>Puma</span><span>(0/0)</span></label>
          </li>  
        </ul>
      </div>
      <div class="filter filter__sex">
        <div class="filter__caption">Sex</div>
        <ul class="filter__items">
          <li>
            <input type="checkbox" id="men" name="men">
            <label for="men"><span>Men</span><span>(0/0)</span></label>
          </li>
          <li>
            <input type="checkbox" id="women" name="women">
            <label for="women"><span>Women</span><span>(0/0)</span></label>
          </li>
        </ul>
      </div>
      <div class="filter filter__size">
        <div class="filter__caption">Size</div>
        <ul class="filter__items">
          <li>
            <input type="checkbox" id="5" name="5">
            <label for="5"><span>5</span><span>(0/0)</span></label>
          </li>   
          <li>
            <input type="checkbox" id="6" name="6">
            <label for="6"><span>6</span><span>(0/0)</span></label>
          </li>   
          <li>
            <input type="checkbox" id="7" name="7">
            <label for="7"><span>7</span><span>(0/0)</span></label>
          </li>   
          <li>
            <input type="checkbox" id="8" name="8">
            <label for="8"><span>8</span><span>(0/0)</span></label>
          </li>   
          <li>
            <input type="checkbox" id="9" name="9">
            <label for="9"><span>9</span><span>(0/0)</span></label>
          </li>     
          <li>
            <input type="checkbox" id="9-5" name="9-5">
            <label for="9-5"><span>9.5</span><span>(0/0)</span></label>
          </li>  
          <li>
            <input type="checkbox" id="10" name="10">
            <label for="10"><span>10</span><span>(0/0)</span></label>
          </li>  
        </ul>
      </div>
      <div class="filter filter__price">
        <div class="filter__caption">Price</div>
        <div class="multi-range">
          <input type="range" min="0" max="100" value="5" id="price__lower">
          <input type="range" min="0" max="100" value="90" id="price__upper">
        </div>
      </div>
      <div class="filter filter__stock">
        <div class="filter__caption">Stock</div>
        <div class="multi-range">
          <input type="range" min="0" max="100" value="5" id="stock__lower">
          <input type="range" min="0" max="100" value="90" id="stock__upper">
        </div>
      </div>
    </div>
    <div class="main__products">
      <div class="product__item">
        <div class="item__image"></div>
        <div class="item__info-block">
          <div class="info__caption">
            <span class="caption__brand">New Balance</span> - <span class="caption__title">Men's 608 V5 Casual Comfort Cross Trainer</span>
          </div>
          <div class="info__block">
            <div class="info__block-left">
              <div class="info__rating">
                <span class="rating__star">&#11088&#11088&#11088&#11088&#11088</span>
                (<span class="rating__value">4.64</span>)
                <span class="rating__stock">68</span>
              </div>
              <div class="info__price">
                <span class="price__currency">$</span> <span class="price__value">79<span>99</span></span> <span class="price__discont">$100.00</span></div>
            </div>
            <div class="info__block-right">
              <div class="add-to-cart_control"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="product__item">
        <div class="item__image"></div>
        <div class="item__info-block">
          <div class="info__caption">
            <span class="caption__brand">New Balance</span> - <span class="caption__title">Men's 608 V5 Casual Comfort Cross Trainer</span>
          </div>
          <div class="info__block">
            <div class="info__block-left">
              <div class="info__rating">
                <span class="rating__star">&#11088&#11088&#11088&#11088&#11088</span>
                (<span class="rating__value">4.64</span>)
                <span class="rating__stock">68</span>
              </div>
              <div class="info__price">
                <span class="price__currency">$</span> <span class="price__value">79<span>99</span></span> <span class="price__discont">$100.00</span></div>
            </div>
            <div class="info__block-right">
              <div class="add-to-cart_control"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="product__item">
        <div class="item__image"></div>
        <div class="item__info-block">
          <div class="info__caption">
            <span class="caption__brand">New Balance</span> - <span class="caption__title">Men's 608 V5 Casual Comfort Cross Trainer</span>
          </div>
          <div class="info__block">
            <div class="info__block-left">
              <div class="info__rating">
                <span class="rating__star">&#11088&#11088&#11088&#11088&#11088</span>
                (<span class="rating__value">4.64</span>)
                <span class="rating__stock">68</span>
              </div>
              <div class="info__price">
                <span class="price__currency">$</span> <span class="price__value">79<span>99</span></span> <span class="price__discont">$100.00</span></div>
            </div>
            <div class="info__block-right">
              <div class="add-to-cart_control"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="product__item">
        <div class="item__image"></div>
        <div class="item__info-block">
          <div class="info__caption">
            <span class="caption__brand">New Balance</span> - <span class="caption__title">Men's 608 V5 Casual Comfort Cross Trainer</span>
          </div>
          <div class="info__block">
            <div class="info__block-left">
              <div class="info__rating">
                <span class="rating__star">&#11088&#11088&#11088&#11088&#11088</span>
                (<span class="rating__value">4.64</span>)
                <span class="rating__stock">68</span>
              </div>
              <div class="info__price">
                <span class="price__currency">$</span> <span class="price__value">79<span>99</span></span> <span class="price__discont">$100.00</span></div>
            </div>
            <div class="info__block-right">
              <div class="add-to-cart_control"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="product__item">
        <div class="item__image"></div>
        <div class="item__info-block">
          <div class="info__caption">
            <span class="caption__brand">New Balance</span> - <span class="caption__title">Men's 608 V5 Casual Comfort Cross Trainer</span>
          </div>
          <div class="info__block">
            <div class="info__block-left">
              <div class="info__rating">
                <span class="rating__star">&#11088&#11088&#11088&#11088&#11088</span>
                (<span class="rating__value">4.64</span>)
                <span class="rating__stock">68</span>
              </div>
              <div class="info__price">
                <span class="price__currency">$</span> <span class="price__value">79<span>99</span></span> <span class="price__discont">$100.00</span></div>
            </div>
            <div class="info__block-right">
              <div class="add-to-cart_control"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="product__item">
        <div class="item__image"></div>
        <div class="item__info-block">
          <div class="info__caption">
            <span class="caption__brand">New Balance</span> - <span class="caption__title">Men's 608 V5 Casual Comfort Cross Trainer</span>
          </div>
          <div class="info__block">
            <div class="info__block-left">
              <div class="info__rating">
                <span class="rating__star">&#11088&#11088&#11088&#11088&#11088</span>
                (<span class="rating__value">4.64</span>)
                <span class="rating__stock">68</span>
              </div>
              <div class="info__price">
                <span class="price__currency">$</span> <span class="price__value">79<span>99</span></span> <span class="price__discont">$100.00</span></div>
            </div>
            <div class="info__block-right">
              <div class="add-to-cart_control"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="product__item">
        <div class="item__image"></div>
        <div class="item__info-block">
          <div class="info__caption">
            <span class="caption__brand">New Balance</span> - <span class="caption__title">Men's 608 V5 Casual Comfort Cross Trainer</span>
          </div>
          <div class="info__block">
            <div class="info__block-left">
              <div class="info__rating">
                <span class="rating__star">&#11088&#11088&#11088&#11088&#11088</span>
                (<span class="rating__value">4.64</span>)
                <span class="rating__stock">68</span>
              </div>
              <div class="info__price">
                <span class="price__currency">$</span> <span class="price__value">79<span>99</span></span> <span class="price__discont">$100.00</span></div>
            </div>
            <div class="info__block-right">
              <div class="add-to-cart_control"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="product__item">
        <div class="item__image"></div>
        <div class="item__info-block">
          <div class="info__caption">
            <span class="caption__brand">New Balance</span> - <span class="caption__title">Men's 608 V5 Casual Comfort Cross Trainer</span>
          </div>
          <div class="info__block">
            <div class="info__block-left">
              <div class="info__rating">
                <span class="rating__star">&#11088&#11088&#11088&#11088&#11088</span>
                (<span class="rating__value">4.64</span>)
                <span class="rating__stock">68</span>
              </div>
              <div class="info__price">
                <span class="price__currency">$</span> <span class="price__value">79<span>99</span></span> <span class="price__discont">$100.00</span></div>
            </div>
            <div class="info__block-right">
              <div class="add-to-cart_control"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END TEST -->